# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Entornos virtuales
.venv/
env/
venv/

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Sistema
.DS_Store
Thumbs.db

# Datos generados
data/salida/
